@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Special+Elite&display=swap');
  .incorrect{
    color:red;
    text-decoration: line-through;
  }
  .correct{
    color:green
  }
  #game{
    display: flex;
    flex-direction: column;
    text-align:right;
    overflow:hidden;
    white-space: nowrap;
  }
  #test-input{
    width:100px;
    position:absolute;
    /* display: none; */
    border-width:0px;
  }
  .input-wrapper{
    text-align:right;
    white-space: nowrap;
    max-width:50%;
    min-width: 50%;
  }
  .test-input-group{
    float:right;
    min-width: 100%;
    white-space: nowrap;
    overflow:hidden;
  }
  .test-wrapper{
    max-width: 50%;
  }
  .test-prompt{
    float:left;
    max-width: 100%;
  }

  .game-container{
    color:black;
    display: flex;
    border-color:white;

    overflow:hidden;
    max-height:300px
  }
  span{
    padding-left: 5px;
    font-family:'Special Elite';
    font-size: 30px;
  }